<% content_for :index, '-3 sidebar' %>
<% content_for :title, Article.find(9).description %>

<section id="content">
  <div class="full-width-container block-1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <header>
            <h2><span> Наши услуги</span></h2>
          </header>
        </div>
      </div>
      <div class="row">
        <div class="grid_4 sidebar-mobile sidebar-hide">
          <%= render 'shared/sidebar' %>
        </div>
        <div class="grid_8">
          <% @services.each do |service| %>
          <a href="/services/<%=service.id%>">
            <article class="clearfix">
              <div class="grid_4 alpha">
                <div class="img_container"><img src="<%= service.image.url %>" alt="img"></div>
              </div>
              <div class="grid_4">
                <h5><%= service.title %></h5>
                <p><%= truncate strip_tags(service.description), :length => 270 %></p>
              </div>
            </article>
          </a>
          <% end %>
        </div>
        <div class="grid_4 sidebar-pc">
          <%= render 'shared/sidebar' %>
        </div>
      </div>
    </div>
  </div>
  <div class="full-width-container block-2">
    <div class="container">
      <div class="row">
          <div class="grid_12">
            <header>
              <h2><span>Рекомендации</span></h2>
            </header>
          </div>
        <% @recomendations.each do |recomendation| %>
        <div class="grid_4">
          <div class="text_content"><p><%= recomendation.description %></p> </div>
          <h5><%= recomendation.title %></h5>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
