<h3>Сообщение с сайта <%= @url %>, от <%= @user.name %></h3>
<p>
  Тема: <%= @user.subject %>
</p>
<p>
  Контакт: <%= @user.contact %>
</p>
<p>Сообщение: <%= @user.message %></p>
<p>Время обращения <%= Time.now %></p>
