<% content_for :index, '-1' %>
<% content_for :title, Article.find(6).description %>

<section id="content">
  <div class="full-width-container block-1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <header>
            <h2><span>О Нас</span></h2>
          </header>
        </div>
        <div class="grid_4">
          <div class="img_container"><img src="/assets/index-1_img-1.jpg" alt="img"></div>
        </div>
        <div class="grid_7 preffix_1">
          <%= @aboutus.description.html_safe %>
          <a href="/users#callfirm" class="btn">Написать</a>
        </div>
      </div>
    </div>
  </div>
  <div class="full-width-container block-2 parallax-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <header>
            <h2><span>Наша команда</span></h2>
          </header>
        </div>
        <% @teams.each do |team| %>
        <div class="grid_3">
          <article>
            <div class="img_container"><%= image_tag team.image.url, :alt => "наша команда" if team.image_stored? %></div>
            <h4><%= team.title %></h4>
            <p><%= team.description %></p>
          </article>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="full-width-container block-3">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <header>
            <h2><span>Почему выбирают Нас</span></h2>
          </header>
        </div>
        <% @choseus.each.with_index do |choce,i| %>
        <div class="grid_4">
          <div class="grid_1 alpha"><span class="element bd-ra"><%= i+1 %></span></div>
          <div class="grid_3">
            <p><%= choce.description %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
